body {
    background-color: rgb(231, 142, 178);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    color:rgb(207, 36, 105)
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(225, 36, 139);
}

h1 {
    font-size:xx-large;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(220, 36, 139);
    
    

}

h2 { 
    font-size: large;
    font-style:oblique;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 25, 171);
}

h3 {
    font-size: large;
    text-decoration:none;
}